.swipe-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.swipe-list:after,
.swipe-list:before {
  content: "";
  display: table;
}

.swipe-list:after {
  clear: both;
}

.swipe-list {
  list-style-type: none;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.swipe-item {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}

.swipe-item img {
  width: 100%;
  height: auto;
}

.fotogalerie-swipe-item img {
  width: auto;
  max-width: 100%;
}

.fotogalerie {
  margin-top: 1em;
}

.swipe-prev {
  position: absolute;
  z-index: 100;
  content: "";
  bottom: 50%;
  cursor: pointer;
  left: 0;
}

.swipe-next {
  position: absolute;
  z-index: 100;
  bottom: 50%;
  cursor: pointer;
  right: 0;
}

.swipe-container.touchmoving img,
.swipe-container.touchmoving a {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;   
  pointer-events: none;
}

